<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
        }
        .im {
            color: #202124;
        }
        .im span u{
            color: black;
        }
    </style>
</head>
<body>
    <div>
        <strong>* Quý khách có câu trả lời từ: </strong><a href="https://bfd.vn/">https://bfd.vn/</a>:
        <p>- Mã yêu cầu: <strong>{{ViewBag.contact_id}}</strong></p>
        <p>- <u>Nội dung câu hỏi:</u></p>
        <p>{{ViewBag.contact_content}}</p><br />
        <p>- <u>Nội dung câu trả lời:</u></p>
        <p>{{ViewBag.contact_reply}}</p><br />
        <p> Trân trọng, {{ViewBag.Name}} - {{ViewBag.Roles}} - Hotline: 0866658801 </p>
        <p><strong>* Để việc trao đổi giữa chúng tôi và quý khách được nhanh chóng và chính xác, vui lòng phản hồi theo cách sau</strong>: </p>
        <p>
            - Quý khách có thể nhấn nút Reply để phản hồi câu trả lời của chúng tôi, chú ý giữ nguyên Subject của thư (vì trên Subject có mã câu hỏi của quý khách) và có thể đính kèm tối đa 3 file (*.jpg, *.png, *.gif, < 500KB) kèm theo
        </p>
    </div>
</body>
</html>