@model IEnumerable<DoAn_LapTrinhWeb.Models.ParentCategory>
<li><a href="@Url.Action("AllListNews", "News")">Mới nhất</a></li>
<li><a href="@Url.Action("PostProductRecent", "News")">Sản phẩm mới</a></li>
@foreach (var item in Model)
{
    <li>
        <a href="/news/genre/@item.slug">@item.name</a>
        <ul>
            @foreach (var childcategory in ViewBag.newscategory)
            {
                if (childcategory.parentcategory_id == item.parentcategory_id && childcategory.status=="1")
                {
                    <li><a href="/news/list_post/@childcategory.slug">@childcategory.name</a></li>
                }
            }
        </ul>
    </li>
}
