@{
    ViewBag.Title = "Quên mật khẩu";
    ViewBag.ImageURL = "/Images/ImagesCollection/quen-mat-khau.jpg";
    ViewBag.Decription = "";
    ViewBag.Tag = "Quên mật khẩu";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
@section scripts{
    <!--check đăng nhập quên mật khẩu, đổi thông tin cá nhân,...-->
    <script src="~/Scripts/my_js/checkuseraccount.js"></script>
}
@using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post))
{
    <!--begin::Section-->
    <section class="h-80 margin_forgotpass">
        <!--begin::Container-->
        <div class="container h-100 margin_mobile_fixed">
            <!--begin::Row-->
            <div class="row justify-content-sm-center h-100">
                <!--begin::Col-->
                <div class="col-lg-5 col-xl-4 col-md-6 col-12">
                    <!--begin:Card-->
                    <div class="boder_account rounded-3">
                        <!--begin:Card Body-->
                        <div class="card-body ">
                            <!--begin:Card Title-->
                            <p class=" card-title h4 center font_roboto_medium text-uppercase mb-4">Quên mật khẩu</p>
                            <!--begin::Form-->
                            <form method="POST" id="Forgotpassword" class="needs-validation">
                                <!--begin::Message-->
                                <div class="text-success">
                                    @ViewBag.Message1
                                </div>
                                <div class="text-danger">
                                    @ViewBag.Message2
                                </div>
                                <!--end::Message-->
                                <!--begin::Input Form Group-->
                                <div class="mb-3">
                                    <!--begin::Label-->
                                    <label class="mb-1 text-muted " for="password">Email</label>
                                    <!--end::Label-->
                                    @Html.TextBox("EmailID", "", new { @class = "form-control", @id = "Emailforgot", @required = "required", @type = "email" })
                                    <div class="invalid-feedback">
                                        Email is invalid
                                    </div>
                                </div>
                                <!--end::Input Form Group-->
                            </form>
                            <!--end::Form-->
                            <!--begin::Action-->
                            <div class="form-group mb-2">
                                <!--begin::Button-->
                                <!--onclick="ForgotPass()",id="Forgotpassword" | path:Scripts/my_js/checkuseraccount.js-->
                                <button class="btn w-100 bg-button" onclick="ForgotPass()" type="submit">Gửi</button>
                                <!--end::Button-->
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--begin::Action-->
                        <div class="card-footer  py-3 border-0 ">
                            <div class="text-center">
                                <!--begin::button-->
                                Bạn đã nhớ mật khẩu? <a href="@Url.Action("SignIn", "Account")" class="font_roboto_bold">Đăng nhập</a> @*nếu bạn chưa có tài khoản thì ấn vào đăng ký*@
                                <!--end::Button-->
                            </div>
                        </div>
                        <!--end::action-->
                    </div>
                    <!--begin:Card-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </section>
    <!--end::Section-->
}